<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
<link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
  
  <!--[if IE]>
  <style type="text/css"> 
  .twoColFixRtHdr #mainContent { zoom: 1; }
  </style>
  <![endif]-->

</head>

<body>

<div id="container">

  <div id="header">
  <h1><a href="{{ SITEURL }}">{{ SITENAME }}</h1>
  {% if SITESUBTITLE %}<h2>{{ SITESUBTITLE }}</h2>{% endif %}
  
  </div><!-- end #header -->
  
  <div id="topMenu">
  
    <ul>
    	<li><a href="{{ SITEURL }}">Início</a></li>
        <li>&ndash;</li>
        <li><a href="{{ SITEURL }}/archives.html">Arquivo</a></li>
        
    </ul>
  
  </div><!-- end #topMenu -->

  <div id="sidebar">
    <div style="height:120px">&nbsp;</div>
  	{% if DISPLAY_PAGES_ON_MENU %}
	<h3>Páginas</h3>
	<ul>
        {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
	</ul>
        {% endif %}
    {% if LINKS %}
		<h3>Diga-me com quem andas...</h3>
		<ul>
		{% for name, link in LINKS %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
		</ul>
	{% endif %}
	{% if SOCIAL %}
                <h3>Social</h3>
                <ul>
                    <li><a href="http://carneiro.blog.br/um/feeds/all.atom.xml" rel="alternate">Atom Feed</a></li>
                {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
        {% endif %}
        <h3>Assuntos</h3>
        <ul class="tagcloud">
            {% for tag in tag_cloud %}
                <li class="tag-{{ tag.1 }}"
                         ><a href="{{ SITEURL }}/{{ tag.0.url }}"
                                        >{{ tag.0 }}</a></li>
            {% endfor %}
        </ul>        
  
  </div><!-- end #sidebar -->

  <div id="mainContent">
  	
    {% block content %}
    {% endblock %}
  
  </div><!-- end #mainContent -->

<div class="clearfloat"></div>

  <div id="footer">
    <p>Orgulhosamente movido a <a href="http://alexis.notmyidea.org/pelican/">pelican</a>, que roda em <a href="http://python.org">python</a>.
  </div><!-- end #footer -->

</div><!-- end #container -->
{% include 'analytics.html' %}
</body>
</html>
