{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
                        {% if articles %}
                        {% for article in articles %}        
                            {% if loop.index == 1 %}
  	
    <div class="blogItem">
    
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <h3>{{ article.locale_date }}</h3>
      
      {{ article.content }}	

      
      <h3 class="blogMeta">{% for tag in article.tags %}
<span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span>
{% endfor %}</h3>
    </div><!-- end #blogItem -->
 {% if loop.length  > 1 %}	
        <div class="blogItem">
        </div>
{% endif %}
{% else %}    
    <div class="blogItem">
    
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <h3>{{ article.locale_date }}</h3>
      
      {{ article.summary }}	
<h3 class="blogMeta">{% for tag in article.tags %}
<span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> / </span>
{% endfor %}</h3>
	<a href="{{ SITEURL }}/{{ article.url }}">Continua…</a>
      
      
	
    
    </div><!-- end #blogItem -->
  {% endif %}
{% endfor %}
{% else %}
       
{% endif %}
{% endblock content %}
